* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/фооон.jpg) no-repeat center / cover;
    height: 100vh;
    
}

.key {
    width: 24%;
    height: 50px;
    color: blueviolet;
    font-size: 20px;
    background-color: black;

}

#display {
    width: 100%;
    color: blue;
    height: 40px;
    font-size: 20px;
    background-color: black;

}

.key-result {
    width: 100%;
    color: blueviolet;
    font-size: 20px;
    background-color: black;
}

.keyboard{
    background-color: blueviolet;
}