* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
}

/*.wrapper {
    background-image: url(img/dudko.png);
    height: 100vh;
    background-repeat: no-repeat;

}*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    width: 24%;
    height: 50px;
    color: blueviolet;
    font-size: 20px;

}

#display {
    width: 100%;
    color: blue;

}

.key-result {
    width: 100%;
    color: blueviolet;
    font-size: 20px;
}